:root {
  --main-blue: #0152ab;
  --main-green: #0fe3af;
}

a {
  text-decoration: none;
}

.top-bar {
  background-color: #0152a8;
  color: #ffffff;
  padding-top: 18px;
  padding-bottom: 18px;
}

.top-bar a {
  color: #ffffff;
}

.top-bar .icon {
  display: inline-block;
  background-color: #095fba;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.top-bar .icon.icon-phone {
  background-image: url("../img/icon/phone.svg");
}

.top-bar .icon.icon-mail {
  background-image: url("../img/icon/mail.svg");
}

.banner {
  width: 100%;
  height: 80vh;
  background-color: #ddd;
}
.banner-background-photo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
  background-image: url(../img/banner/bannerbackground.png);
  background-size: cover;
}
.banner-background-photo-element {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: start;
  padding-inline: 160px;
}
.banner-background-photo-element-cover-title {
  background-color: #0fe3af;
  color: #1c1c1c;
  padding: 2px;
  padding-inline: 8px;
  letter-spacing: 1cap;
}

.btn-main-green {
  background-color: #0fe3af;
  padding: 16px 36px;
  text-decoration: none;
}

.btn-main-blue {
  background-color: #0152a8;
  padding: 16px 36px;
  text-decoration: none;
  color: #ffffff;
}
.btn-main-blue-outline {
  border: 1.5px solid #0152a8;
  padding: 16px 36px;
}

.service-card {
  position: relative;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: hidden;
  border-radius: 4px;
}

.service-card-content {
  padding: 45px 30px;
}

.service-card-showcase {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms;
}

.service-card:hover .service-card-showcase {
  visibility: visible;
  opacity: 1;
}

.service-card-img {
  width: 54px;
  height: 54px;
}

.service-card-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #1c1c1c;
}

.service-card-desc {
  color: #545454;
  font-size: 0.95rem;
}

.service-card-link {
  display: flex;
  align-items: center;
  color: #363636;
}

.service-card-link::after {
  content: "";
  display: inline-block;
  background-image: url("../img/icon/plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.section-service-title {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 0.5px solid #cecece;
  padding: 5px 10px;
  transition: all 300ms;
  margin-bottom: 10px;
}

.section-service-title:hover {
  background-color: #f1f1f1;
}

.call-center {
  background-image: url("../img/background/call-center.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 110px 0;
}

.call-center-card {
  background-color: #ffffff;
  padding: 55px;
}

.call-center-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #0fe3af;
  border-radius: 50%;
  flex-shrink: 0;
}

.call-center-card-icon .card-icon-1 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon/document.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.call-center-card-icon .card-icon-2 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon/time.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.meeting-wrapper {
  background-image: url(../img/background/pattern1.png), url(../img/background/pattern2.png);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-color: var(--main-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 100px 2rem;
}

.meeting-wrapper-content {
  max-width: 500px;
  color: #ffffff;
}

.special-care-list {
  padding-left: 0px;
  margin-bottom: 30px;
}

.special-care-list li {
  background-image: url(../img/icon/about.svg);
  background-repeat: no-repeat;
  background-position: left center;
  list-style: none;
  padding: 5px 0px 5px 25px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.special-care-content {
  position: absolute;
  background-color: #000000;
  padding: 20px;
  color: #ffffff;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.special-care-content-img {
  position: relative;
}

.feedback-card {
  background-color: #cecece;
  padding: 50px;
  margin-bottom: 15px;
}

.icon-star {
  display: inline-block;
  background-image: url("../img/icon/star.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.icon-star.active {
  background-image: url("../img/icon/noactivestar.svg");
}

.why-choose-us {
  background-color: #dcedfe;
  background-image: url("../img/background/Pattern4.png"), url("../img/background/Pattern5.png");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  padding: 120px 0;
}
.why-choose-us-url {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 40px;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}
.why-choose-us a {
  display: inline-flex;
  color: #0152a8;
}
.why-choose-us a::before {
  content: "";
  background-image: url("../img/icon/tick.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  margin-right: 5px;
}

.bg-main-blue {
  background-color: var(--main-blue);
}

.team-card {
  background-color: #004a99;
  padding: 20px;
}
.team-card-img img {
  width: 100%;
  height: 100%;
}
.team-card-title {
  color: #ffffff;
  text-align: center;
}
.team-card-desc {
  color: #ffffff;
  text-align: center;
}
.team-card-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.team-card-social-media a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}
.team-card-social-media a.icon-facebook {
  background-image: url("../img/icon/facebook.svg");
}
.team-card-social-media a.icon-instagram {
  background-image: url("../img/icon/insta.svg");
}
.team-card-social-media a.icon-twitter {
  background-image: url("../img/icon/twitter.svg");
}

.statistic-card {
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.statistic-card-number {
  font-size: 3.5rem;
  max-width: 140px;
  font-weight: 600;
}
.statistic-card-word {
  max-width: 130px;
}

.blog-card-img img {
  width: 100%;
}
.blog-card-info-date {
  display: inline-block;
  border: 1px solid #cecece;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.blog-card-info-title {
  color: #1c1c1c;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-card-info-link {
  text-decoration: underline;
  color: #0152a8;
}

.featured-blog-card {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
}
.featured-blog-card-img {
  width: 220px;
}
.featured-blog-card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-blog-card-info {
  text-align: start;
  justify-content: center;
}
.featured-blog-card-info-date {
  display: inline-block;
  border: 1px solid #cecece;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.featured-blog-card-info-title {
  color: #1c1c1c;
  font-size: 1.5rem;
  font-weight: 500;
}

footer {
  background-color: #e5f2ef;
  background-image: url("../img/background/line-1.png"), url("../img/background/line-2.png");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  padding: 80px 0;
}
footer .footer-sitemap a {
  display: block;
  color: #545454;
  font-weight: 500;
  margin-bottom: 5px;
}
footer .footer-link-phone,
footer .footer-link-mail {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #545454;
}
footer .icon-phone,
footer .icon-mail {
  display: inline-block;
  background-color: var(--main-green);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
footer .icon-phone {
  background-image: url("../img/icon/phone.svg");
}
footer .icon-mail {
  background-image: url("../img/icon/mail.svg");
}
footer .input-newsletter {
  border: none;
  outline: none;
  width: 100%;
  padding: 20px 25px;
  background-color: #ffffff;
}
footer .footer-link-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  gap: 30px;
}
footer .footer-link-social a {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-link-social i {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}
footer .footer-link-social .icon-instagram {
  background-image: url("../img/icon/footer-insta.svg");
}
footer .footer-link-social .icon-facebook {
  background-image: url("../img/icon/footer-facebook.svg");
}
footer .footer-link-social .icon-twitter {
  background-image: url("../img/icon/footer-twitter.svg");
}/*# sourceMappingURL=style.css.map */